<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Game </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <ion-button (click)="start()" *ngIf="!isStarted">start</ion-button>
    <ng-container *ngIf="isStarted">
      <p>timer: {{timer}}</p>
      <p>score: {{score}}</p>
      <div (mouseover)="checkRound()">hover me</div>
    </ng-container>
  </div>
</ion-content>
