<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">username</ion-label>
      <ion-input [(ngModel)]="user.username"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="login()">Login</ion-button>
</ion-content>
